body{
	font-family: myFirstFont, Arial, sans-serif;
	/*background-color: #ffffff;*/
	background-color: #000000;
	font-size: 1em;
	color: #ffffff;
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/DINCond-Regular.otf);
}

/*.flex-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.center-img {
	position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.fullscreen {
	top: 0;
	left: 0;
	height: 100vh;
  background-image: url("assets/tree.jpeg");
  background-size: 100% 100%;
}*/

/* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */
#home, #info {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*font-family: "Source Sans Pro", Arial, sans-serif;*/
/*  background-image: url("assets/flower.jpg");*/
  /*background-size: 100% 100%;*/
}



/* work page and yanna page*/
#work, #yanna {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.grid h1 {
	padding-top: 2em;
	position: absolute;
	text-transform: uppercase;
	font-size: 3em;
	/*color: #AC00A9*/
	color: #ffffff
}

.grid {
	height: 100vh;
/*  border: 1px solid #000000;*/
  /*padding-left: 10%;
  padding-right: 10%;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.grid img {
	width: 100%;
	/*min-width: 80%;*/
	max-height: 80vh;
}

/* work page and yanna page*/

.top {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.top .logo img{
	width: 100%;
}

.top .logo{
	padding-top: 1.5em;
	width: 18%;
	height: 20px;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.top .links{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/*font-size: 1.5em;*/
}

.top .links a {
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 1em;
	font-size: 1em;
	color: #B5B5B5;
	text-decoration: none;
	padding-top: 1.5em;
}
.top .links a:hover {
	text-decoration: underline;
}

#clicked {
	text-decoration: underline;
}

.middle {
	width: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: #ffffff*/
	

}

.middle p {
	color: #ffffff;
	padding-left: 8%;
	padding-right: 8%;
	font-size: 1.6em;

}

.middle img {
	width: 10%

}



.homepage-middle {
	width: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.homepage-middle img {
	width: 40%;
	/*position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;*/
}


.bottom {
	width: 100%;
	height: 130px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

.bottom img {
	width: 50%;
}

.detail {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;

}

.detail img {
	padding: 2em;
	width: 35%;
}

.workdetail {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}

.workdetail img {
	padding-top: 2em;
	width: 70%;
}

.workdetail p {
	color: #000000;
	padding-left: 8%;
	padding-right: 8%;
	font-size: 1.5em;
}

.blackdetail {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #

}

.blackdetail img {
	padding-top: 2em;
	width: 70%;
}

.me {
	font-size: 1em;
}

.address{
	color: #FFFFFF
	
}





#container {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ***** SPHERE ***** */
#planet {
	background: #D4B47B;
	background: -moz-radial-gradient(140px 40px, circle cover,  rgba(95,90,81,1) 0%, rgba(162,143,111,1) 8%, rgba(205,181,137,1) 0%, rgba(184,164,129,1) 17%, rgba(205,181,137,1) 20%, rgba(212,180,123,1) 41%, rgba(155,128,86,1) 0%, rgba(212,180,123,1) 0%, rgba(212,180,123,1) 0%, rgba(179,159,124,1) 0%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5a51', endColorstr='#b39f7c',GradientType=1 );
	border-radius: 300px;
	height: 300px;
	position: relative;
	width: 300px;
	z-index: 950;
}
#planet:before {
	background-color: transparent;
	border: none;
	border-left: 100px solid rgba(0,0,0,0.75);
	border-radius: 200px;
	content: "";
	-webkit-filter: blur(10px);
	filter: blur(10px);
	position: absolute;
	top: -20px;
	left: -20px;
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
	width: 200px;
	z-index: 1000;
}




/* ***** RINGS ***** */
.rings {
	overflow: hidden;
	position: absolute;
	left: -150px;
	width: 600px;
}
.rings:after {
	background: repeating-radial-gradient(circle at center, transparent 0, transparent 182px, #9b8056 182px, #9b8056 183px, transparent 183px, transparent 185px, #9b8056 185px, #9b8056 186px, transparent 186px, transparent 188px, #9b8056 188px, #9b8056 189px, transparent 189px, transparent 191px, #9b8056 191px, #9b8056 192px, transparent 192px, transparent 194px, #9b8056 194px, #9b8056 195px, transparent 195px, transparent 197px, #9b8056 197px, #9b8056 198px, transparent 198px, transparent 200px, #9b8056 200px, #9b8056 201px, transparent 201px, transparent 203px, #9b8056 203px, #9b8056 204px, transparent 204px, transparent 206px, #9b8056 206px, #9b8056 207px, transparent 207px, transparent 209px, #9b8056 209px, #9b8056 210px, transparent 210px, #9b8056 250px, transparent 250px,transparent 260px, #5f5a51 260px, #5f5a51 261px, transparent 261px, transparent 262px, #5f5a51 262px, #5f5a51 263px, transparent 263px, transparent 264px, #5f5a51 264px, #5f5a51 265px, transparent 265px, #5f5a51 280px);
	border-radius: 600px;
	box-shadow: inset 0 0 20px 120px rgba(0,0,0,0.3);
	content: "";
	height: 600px;
	position: absolute;
	-webkit-transform: rotate3d(1,0,0,65deg);
	transform: rotate3d(1,0,0,65deg);
	width: 600px;
}

.rings.front {
	height: 270px;
	top: 180px;
}
.rings.front:after {
	bottom: 0;
	z-index: 1500;
}

.rings.back {
	height: 330px;
	top: -150px;
}
.rings.back:after {
	top: 0;
	z-index: 500;
}

/* ***** MOONS ***** */
.path {
	-webkit-animation: gravitate 3s linear 0s infinite forwards;
	animation: gravitate 10s linear 0s infinite forwards;
	background-color: transparent;
	border-radius: 800px;
	height: 600px;
	position: absolute;
	top: -150px;
	left: -150px;
	width: 600px;
	-webkit-transform: rotateX(65deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateX(65deg);
	transform-style: preserve-3d;
}
.moon {
	-webkit-animation: rotate 12s linear 0s infinite forwards;
	animation: rotate 12s linear 0s infinite forwards;
	background-color: #ffffff;
	border-radius: 10px;
	height: 10px;
	position: absolute;
	bottom: 25px;
	left: 50%;
	-webkit-transform: rotateX(-65deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-65deg);
	transform-style: preserve-3d;
	width: 10px;
	z-index: 3000;
}
.moon:before {
	border: none;
	border-left: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	content: "";
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 8px;
}
.moon:after {
	-webkit-animation: shadow 12s linear 0s infinite forwards;
	animation: shadow 12s linear 0s infinite forwards;
	background-color: #000;
	border-radius: 7px;
	content: "";
	-webkit-filter: blur(2px);
	filter: blur(2px);
	height: 7px;
	opacity: 0.75;
	position: absolute;
	bottom: -5px;
	left: -20px;
	width: 7px;
	z-index: 3000;
}

.pandora {
	animation-duration: 7s;
}
.pandora .moon {
	animation-duration: 7s;
	background-color: #ffffff;
	bottom: 40px;
}
.pandora .moon:after {
	animation-duration: 7s;
}

.cassini {
	animation-duration: 4s;
}
.cassini .moon {
	animation-duration: 4s;
	background-color: #946e4f;
	bottom: 100px;
}
.cassini .moon:after {
	animation-duration: 4s;
}

/* ***** ANIMATIONS ***** */
@-webkit-keyframes gravitate {
	0% {
		-webkit-transform: rotateX(65deg) rotateZ(0deg);
		transform: rotateX(65deg) rotateZ(0deg);
		z-index: 3000;
	}
	40% {
		z-index: 550;
	}
	67% {
		z-index: 550;
	}
	100% {
		-webkit-transform: rotateX(65deg) rotateZ(-360deg);
		transform: rotateX(65deg) rotateZ(-360deg);
		z-index: 3000;
	}
}
@keyframes gravitate {
	0% {
		-webkit-transform: rotateX(65deg) rotateZ(0deg);
		transform: rotateX(65deg) rotateZ(0deg);
		z-index: 3000;
	}
	40% {
		z-index: 550;
	}
	67% {
		z-index: 550;
	}
	100% {
		-webkit-transform: rotateX(65deg) rotateZ(-360deg);
		transform: rotateX(65deg) rotateZ(-360deg);
		z-index: 3000;
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotateX(-65deg) rotateY(0deg);
		transform: rotateX(-65deg) rotateY(0deg);
	}
	25% {
		-webkit-transform: rotateX(-65deg) rotateY(-90deg);
		transform: rotateX(-65deg) rotateY(-90deg);
	}
	50% {
		-webkit-transform: rotateX(-65deg) rotateY(-180deg);
		transform: rotateX(-65deg) rotateY(-180deg);
	}
	51% {
		-webkit-transform: rotateX(-65deg) rotateY(180deg);
		transform: rotateX(-65deg) rotateY(180deg);
	}
	65% {
		-webkit-transform: rotateX(-65deg) rotateY(90deg);
		transform: rotateX(-65deg) rotateY(90deg);
	}
	100% {
		-webkit-transform: rotateX(-65deg) rotateY(0deg);
		transform: rotateX(-65deg) rotateY(0deg);
	}
}
@keyframes rotate {
	0% {
		-webkit-transform: rotateX(-65deg) rotateY(0deg);
		transform: rotateX(-65deg) rotateY(0deg);
	}
	25% {
		-webkit-transform: rotateX(-65deg) rotateY(-90deg);
		transform: rotateX(-65deg) rotateY(-90deg);
	}
	50% {
		-webkit-transform: rotateX(-65deg) rotateY(-180deg);
		transform: rotateX(-65deg) rotateY(-180deg);
	}
	51% {
		-webkit-transform: rotateX(-65deg) rotateY(180deg);
		transform: rotateX(-65deg) rotateY(180deg);
	}
	65% {
		-webkit-transform: rotateX(-65deg) rotateY(90deg);
		transform: rotateX(-65deg) rotateY(90deg);
	}
	100% {
		-webkit-transform: rotateX(-65deg) rotateY(0deg);
		transform: rotateX(-65deg) rotateY(0deg);
	}
}


@-webkit-keyframes shadow {
	0% {
		opacity: 1;
	}
	9% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	91% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes shadow {
	0% {
		opacity: 1;
	}
	9% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	91% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}


/*.social {
	padding-top: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}*/

/*CMD + SHIFT + D*/

/*当屏幕尺寸小于多少时执行*/
/*@media only screen and (max-width: 500px) {
    .grid {
			height: 50vh;
			background-color: #111111;
		}
}*/

@media only screen and (max-device-width: 500px) {



		.top .logo img{
			width: 100%;
		}

		.top .logo {
			padding-top: 2.8em;
			width: 25%;
		}

		.top .links a{
			font-size: 2.8em;
			padding-left: 1em;
			padding-right: 0;
			padding-bottom: 1em;
		}

		.homepage-middle img {
			width: 75%;
		}

		.middle p {
			color: #ffffff;
			padding-left: 8%;
			padding-right: 8%;
			font-size: 3.6em;

		}

		.middle img {
			width: 60%

		}

	    .grid {
				height: 50vh;
				
			}

		.grid h1 {
			position: absolute;
			text-transform: uppercase;
			font-size: 4em;
			color: #ffffff
		}	

		.bottom img {
			width: 90%;
		}

		.bottom a {
			/*padding-top: 1em;*/
			padding: 1%
		}

		.detail {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #ffffff

		}

		.detail img {
			width: 85%;
		}

		.workdetail {
			padding-top: 2em;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #ffffff
		}

		.workdetail img {
			width: 100%;
		}

		.blackdetail {
			padding-top: 2em;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #000000
		}

		.blackdetail img {
			width: 100%;
		}

		.me {
			font-size: 3em;
		}








}


